:root {
  --icon-color: #0e153a;
}

.icon {
  text-align: center;
}

.icon-ico {
  font-size: 2vw;
  color: var(--icon-color);
}

.icon-ico:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon-ico--blocked {
  color: var(--icon-color);
  opacity: 0.7;
}

.icon-ico--blocked:hover {
  cursor: auto;
  transform: scale(1);
}

@media (max-width: 700px) {
  .icon-ico {
    font-size: 5vw;
  }
}
