:root {
  --font-color: #0e153a;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-color: #e2f3f5;
}

.containner__space {
  height: 20vh;
}

.banner {
  height: 22vh;
  text-align: center;
}

.banner__title {
  color: var(--font-color);
  font-size: 6vw;
  font-family: "Nunito-SemiBold";
}

.banner__image {
  width: 13vw;
  margin-bottom: 2%;
}

.counter {
  display: block;
  color: var(--font-color);
  font-size: 1vw;
  font-family: "OpenSans-SemiBold";
  text-align: center;
}

.container__image {
  display: flex;
  flex-direction: row;
}

.container__image-img {
  width: 32vw;
}

.container__result {
  height: 8vh;
  text-align: center;
  margin-top: 2%;
}

.container__result-content {
  font-size: 2.5vw;
  font-family: "Nunito-Bold";
}

.container__result-content--edible {
  color: #28a745;
}

.container__result-content--poisonous {
  color: #dc3545;
}
