:root {
  --font-color: #0e153a;
  --font-size: 1vw;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-color: #e2f3f5;
}

.container__space {
  height: 20vh;
}

.banner {
  height: 22vh;
  text-align: center;
}

.banner__title {
  color: var(--font-color);
  font-size: 6vw;
  font-family: "Nunito-SemiBold";
}

.banner__image {
  width: 13vw;
  margin-bottom: 2%;
}

.counter {
  display: block;
  color: var(--font-color);
  font-size: var(--font-size);
  font-family: "OpenSans-SemiBold";
  text-align: center;
}

.image {
  display: flex;
  flex-direction: row;
}

.image-img {
  width: 32vw;
}

.result {
  height: 8vh;
  text-align: center;
  margin-top: 2%;
}

.result-content {
  font-size: 2.5vw;
  font-family: "Nunito-Bold";
}

.result-content--edible {
  color: #28a745;
}

.result-content--poisonous {
  color: #dc3545;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer__content {
  font-size: var(--font-size);
  color: #3d5af1;
  font-family: "OpenSans-Regular";
}

.footer__icon:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .banner {
    height: 12vh;
  }

  .banner__title {
    font-size: 12vw;
  }

  .counter {
    font-size: 3.5vw;
  }

  .container__space {
    height: 8vh;
  }

  .result {
    margin-top: 20%;
  }

  .result-content {
    font-size: 6.5vw;
  }

  .footer__content {
    font-size: 3vw;
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  .banner {
    height: 16vh;
  }

  .banner__title {
    font-size: 11vw;
  }

  .counter {
    font-size: 3.5vw;
  }

  .container__space {
    height: 12vh;
  }

  .result {
    margin-top: 20%;
  }

  .result-content {
    font-size: 6.5vw;
  }

  .footer__content {
    font-size: 3vw;
  }

  .footer__icon {
    font-size: 3vw;
  }
}
